<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <meta name="description" content="WristWatchWonderland are o gama variata de ceasuri de calitate. Puteti gasi de la ceasuri sport si casual pana la ceasuri elegante si premium. La noi puteti gasi un ceas pentru orice ocazie si prentru orice gust!">
        <meta name="keywords" content="ceas, ceasuri, WristWatchWonderland, ceasuri barbati, ceasuri femei, istoric, despre">
        <title>Galerie Imagini</title>
    </head>
    <body>
        <%- include("../fragmente/header.ejs")%>
        <main>
            <h1>Galerie Imagini</h1>
            <%- include("../fragmente/galerie_statica.ejs")%>
        </main>
        <%- include("../fragmente/footer.ejs")%>
    </body>
</html>