body{
    --culoare-mov:#C886FF;
	--culoare-roz-inchis:rgb(229,173,198);
	--culoare-roz-inchis-t:rgb(229,173,198,0.5);
    --cl-marcare:rgb(255,219,235);
    --cl-light-t:rgba(255,255,255,0.7);
    --cl-text:black;
    --imag-body-backgr:url("../imagini/background-bomboane.jpg");
    --gradient-body:linear-gradient(transparent, transparent 30%, white 50%, transparent 70%, transparent);
}

body.dark{
    --culoare-mov:rgb(31, 31, 31);
	--culoare-roz-inchis:rgb(64,27,66);
	--culoare-roz-inchis-t:rgb(64,27,66,0.5);
    --cl-marcare:rgb(81,43,81,0.5);
    --cl-light-t:rgba(255,255,255,0.2);
    --cl-text:white;
    text-shadow:0px 0px 2px black,0px 0px 1px black,0px 0px 1px black;
    --imag-body-backgr:url("../imagini/background-bomboane-dark.jpg");
    --gradient-body:linear-gradient(transparent, transparent 25%, rgba(255,255,255,0.5) 50%, transparent 75%, transparent);
}