        <footer>
            <a href="#" title="mergi sus" id="link-top"><div id="triunghi">&#129081;</div></a>
            <a href = "./Proiect_Baze_de_Date_Lascu_Daniel.pdf" download>Descarcare</a>
            <address>
                Strada Grozavesti, nr. 16, Bucuresti, sector 6, Romania
                <br>
                <i class="fa-solid fa-envelope fa-bounce" style="--fa-bounce-start-scale-x: 1;--fa-bounce-start-scale-y: 1;--fa-bounce-jump-scale-x: 1;--fa-bounce-jump-scale-y: 1;--fa-bounce-land-scale-x: 1;--fa-bounce-land-scale-y: 1;--fa-bounce-rebound: 0;"></i><a href="mailto:contact@example.com">contact@example.com</a><br>
                <i class="fa-solid fa-phone"></i> <a href="tel:+40711257124"> Telefon</a><br>
                <i class="fa-solid fa-location-crosshairs"></i><a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica" target="_blank">Facultatea de Matematică și Informatică</a><br>
                <a href="https://wa.me/+40766700288" target="_blank">Chat pe WhatsApp</a><br>
            </address>

            <p id="banner">Acesta este un proiect scolar</p>

            <p><small>Copyright &copy; <time datetime="2024-03-03">3 martie 2024</time></small></p>
        </footer>