        <header>
            <h1>WristWatchWonderland</h1>
            <nav>
                <label id="hamburger" for="ch-menu">
                    <img src="/resurse/imagini/Hamburger_menu.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <ul class="meniu">
                    <li><div id="acasa">Acasa</div><div id="acasa-mediu"><span class="fa-solid fa-house"></span></div>
                        <ul>
                            <li><a href = "#welcome">Bine ati venit!</a></li>
                            <li><a href = "#promotii">Promotii</a>
                                <ul>
                                    <li><a href = "#oferte">Oferte</a></li>
                                    <li><a href = "#reduceri">Reduceri</a></li>
                                </ul>
                            </li>
                            <li><a href = "#noutati">Noutati</a>
                                <ul>
                                    <li><a href = "#cele_mai_noi">Cele mai noi</a></li>
                                    <li><a href = "#cele_mai_vandute">Cele mai vandute</a></li>
                                </ul>
                            </li>
                            <li><a href = "#intrebari">Intrebari</a></li>
                            <li><a href="#tabel">Orar</a></li>
                            <li><a href="#calendar">Calendar</a></li>
                            <li><a href="#rate">Finantere</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Inregistrare</a></li>
                    <li><div>Despre</div>
                        <ul>                        
                            <li><a href="despre.html#prezentare">Prezentare</a></li>
                            <li><a href="despre.html#istoric">Istoric</a></li>
                            <li><a href="despre.html#motivatie">Motivatie</a></li>
                            <li><a href="despre.html#galerie">Galerie</a></li>
                        </ul>
                    </li>
                    <li><div>Ceasuri</div>
                        <ul>
                            <li><a href="http://www.google.com">Toate</a></li>
                            <li><a href="#">Ceasuri de barbati</a></li>
                            <li><a href="#">Ceasuri de Femei</a></li>
                        </ul>
                    
                    </li>
                    <li><a href="#">Ceasuri Premium</a></li>
                </ul>
            </nav>
        </header>