        <header>
            <h1>WristWatchWonderland</h1>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="schimba_tema">
                <label class="form-check-label" for="flexSwitchCheckDefault"><i class="fa-solid fa-circle-half-stroke"></i></label>
            </div>
            <!-- <button id="schimba_tema"><i class="fa-solid fa-circle-half-stroke"></i></button> -->
            <script src="/resurse/js/tema.js"></script>
            <nav>
                <label id="hamburger" for="ch-menu">
                    <img src="/resurse/imagini/Hamburger_menu.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <ul class="meniu">
                    <li><div id="acasa">Acasa</div><div id="acasa-mediu"><span class="fa-solid fa-house"></span></div>
                        <ul>
                            <li><a href = "/index#welcome">Bine ati venit!</a></li>
                            <li><a href = "/index#promotii">Promotii</a>
                                <ul>
                                    <li><a href = "/index#oferte">Oferte</a></li>
                                    <li><a href = "/index#reduceri">Reduceri</a></li>
                                </ul>
                            </li>
                            <li><a href = "/index#noutati">Noutati</a>
                                <ul>
                                    <li><a href = "/index#cele_mai_noi">Cele mai noi</a></li>
                                    <li><a href = "/index#cele_mai_vandute">Cele mai vandute</a></li>
                                </ul>
                            </li>
                            <li><a href = "/index#intrebari">Intrebari</a></li>
                            <li><a href="/index#tabel">Orar</a></li>
                            <li><a href="/index#calendar">Calendar</a></li>
                            <li><a href="/index#rate">Finantere</a></li>
                        </ul>
                    </li>
                    <li><a href="/inregistrare">Inregistrare</a></li>
                    <li><div>Despre</div>
                        <ul>                        
                            <li><a href="/descriere#prezentare">Prezentare</a></li>
                            <li><a href="/descriere#istoric">Istoric</a></li>
                            <li><a href="/descriere#motivatie">Motivatie</a></li>
                            <li><a href="/galerie">Galerie</a></li>
                        </ul>
                    </li>
                    <li><div>Ceasuri</div>
                        <ul>
                            <li><a href="/produse">Toate</a></li>
                            <% for (let opt of locals.optiuniMeniu) { %>
                                <li><a href="/produse?tip=<%- opt.unnest %>"><%- opt.unnest %></a></li>
                            <% } %>
                        </ul>
                    
                    </li>
                    <li><a href="/termeni_si_conditii">Termeni si Conditii</a></li>
                    <!--<li><a href="/inregistrare">Inregistrare</a></li>-->
                </ul>
            </nav>
        </header>